body{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 1350px;
 height:570px;
 border: 1px solid black;
 background-color: black;
}
canvas{
 border: 1px solid black;
 background-color: white;
}
#background{
 background-image: url('https://i.pinimg.com/originals/23/48/11/23481109fbc039b4af49d58a53f27afc.jpg');
 background-repeat: no-repeat;
 background-size: 1350px 1000px;
 width: 1350px;
 height: 640px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
h1{
 color: white;
 font-size: 50px;
}
button{
 border: 1px solid white;
 width: 180px;
 height:55px;
 background-color: black;
}
#start-game{
 font-size: 25px;
 color: white;
}
ol{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 width: 700px;
 height: 300px;
}
#reset{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-end;
 background-image:url('https://mir-s3-cdn-cf.behance.net/project_modules/hd/5a6687114158109.6035ff0b2ab8d.png') ;
 background-repeat:no-repeat ;
 background-size: 1000px 420px;
 width:1150px;
 height: 500px;
 margin-left: 100px;
}
#score{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 height: 150px;
 margin-bottom: 40px;
}
#game-over-title{
 font-size:150px;
 color:purple;
}
span{
 font-size: 50px ;
 color:yellow;
 font-weight: bolder;
}
#reset-game{
 display: flex;
 align-items: center;
 justify-content: center;
 color: black;
 background-color: white;
 border: 1px solid black;
 width: 300px;
 height: 70px;
}
a{
 text-decoration: none; 
 color: #09DBFB;
 font-size: 20px;
 font-weight: bolder;
}

